/*
* Blue: #04306D
* Red: #D4001D
* White
* Black
* Gray: #797878
*/

#body {
  background-color: #04306D;
  margin: 0px 0px 0px 0px;
}


#LoginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#WUSBLogo {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

#ErrorMessageContainer {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 10px;
  font-family: 'Circular Std', sans-serif;
  font-size: 20px;
  width: 275px;
  height: 40px;
  background-color: #E03F55;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  filter: brightness(85%);
}

.credentialFields {
  border: none;
  border-radius: 20px;
  font-family: 'Circular Std', sans-serif;
  font-size: 20px;
  padding: 1px 20px 1px 20px;
  margin-bottom: 15px;
  background-color: white;
  color: #797878;
  width: 275px;
  height: 60px;
}

button {
  font-family: 'Circular Std', sans-serif;
  font-size: 23px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  height: 60px;
  width: 170px;
  color: white;
  background-color: #D4001D;
  text-align: center;
}

button:hover {
  filter: brightness(85%);
  transition: 0.2s;
}
