/*
* Blue: #04306D
* Red: #D4001D
* White
* Black
* Gray: #797878
*/

#WUSBLogo {
  width: 300px;
  height: 300px;
}

#body {
  background-color: #04306D;
  margin: 0px 0px 0px 0px;
}

#ContentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#TableContainer {
  width: 1000px;
  height: auto;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#RequestsTable {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: 'Circular Std', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px;
}

#RequestsTable thead tr {
    background-color: #7290CB;
    color: #ffffff;
    text-align: left;
}

#RequestsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#RequestsTable th,
#RequestsTable td {
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

#EmptyTableMessageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 40px;
  font-family: 'Circular Std', sans-serif;
  font-size: 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  color: #7290CB;
  padding: auto;
}

#ErrorMessageContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #E03F55;
  border: none;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(85%);
  width: 500px;
  height: auto;
}

#ErrorMessageText {
  font-family: 'Circular Std', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  word-break: keep-all;
  padding: 0px 10px 0px 10px;fgjs
}

.clearCell {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clearButton {
  color: white;
  background-color: #D4001D;
  border: none;
  font-family: 'Circular Std', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

button:hover {
  filter: brightness(85%);
  transition: 0.2s;
}
